title {
	font-family: 'Roboto', sans-serif;
}

body {
	font-family: Roboto, sans-serif;
	margin: 0;
}

.wrapper__header {
	background: url(./img/intro-bg.jpg) no-repeat center;
	background-size: cover;
	height: 840px;
	
}


.header__nav {
  padding-bottom: 130px;
  padding-right: 55px;
  padding-top: 70px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}


.header-nav__link {
	font: 900 18px/21px Roboto;
	color: #fff;
	text-decoration: none;
	margin-right: 60px;
	text-align: right;
}

.header-nav__link: last-child {
	margin: 0;
}

.intro {
	padding-right: 113px;
  text-align: right;
}

.intro__title {
  font: 900 40px/47px Roboto;
  color: #e1e6e9;
  margin-bottom: 11px;
}

.intro__subtitle {
  font:900 20px/23px Roboto;
  color: #e1e6e9;
  margin-bottom: 39px;
  margin-top: 0;
}

.intro__button {
  padding: 16px 67px 16px 67px;
  font: 900 20px/23px Roboto;
  color: #fff;
  text-decoration: none;
  background: #e0036f;
}
