title {
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
}

.wrapper__header {
	background: url(./img/intro-bg.jpg) no-repeat center;
	background-size: cover;
	height: 840px;
	
}


.header__nav {
    padding-bottom: 130px;
    padding-right: 55px;
    padding-top: 70px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}


.header-nav__link {
	font: 900 18px/21px 'Roboto', arial, helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	margin-right: 60px;
	text-align: right;
}

.header-nav__link: last-child {
	margin: 0;
}

.intro {
	padding-right: 113px;
  	text-align: right;
}

.intro__title {
	font: 900 40px/47px 'Roboto', arial, helvetica, sans-serif;;
	color: #e1e6e9;
	margin-bottom: 11px;
}

.intro__subtitle {
	font:900 20px/23px 'Roboto', arial, helvetica, sans-serif;;
    color: #e1e6e9;
    margin-bottom: 39px;
	margin-top: 0;
}

.intro__button {
    padding: 16px 67px 16px 67px;
    font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;;
    color: #fff;
    text-decoration: none;
    background: #e0036f;
    cursor: pointer;
}

.tickets {
	height: 397px;
	background: #e3eafe;
	text-align: center;
	margin: 0;

}

.tickets__now {
	font: 600 30px/35px 'Roboto', arial, helvetica, sans-serif;;
	padding-top: 55px;
	padding-bottom: 40px;
	margin: 0;
	color: #585858;
}

.tickets__price {
	font: 900 30px/35px 'Roboto', arial, helvetica, sans-serif;;
	color: #263b83;
	margin: 0;

	padding-bottom: 30px;

}

.tickets__button__buy {
	margin: 0 0 18px 0;
	font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;;
	color: #000;
	cursor: pointer;
	padding: 16px 66px;
	background: #ffda45;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25)
	
}



.tickets__reservation {
	font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;;
    color: #585858;
    border-bottom: 3px solid #ffda45;
    padding-bottom: 9px;
    padding-top: 18px;
    text-decoration: none;
}

.request {
	height: 327px;
	background: #405dbb;
	margin: 0;


}

.request__for {
	font: 900 30px/35px 'Roboto', arial, helvetica, sans-serif;
	color: #fff;
	margin: 0 130px;
	padding-top: 118px;
  

  


}

.request__subtitle {
	font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;;
	color: #fff;
	padding-top: 20px;
  	margin-left: 130px;
  	float: left;
}

.request__img {
  margin: -153px 43px 0;
  width: 350px;

}

.request__button {
    margin-top: -17px;
    font: 900 20px/23px 'Roboto', arial, helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
    color: #000;
    background: #FFDA45;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
	padding: 17px 30px;
    float: right;
    margin-right: 131px;
}



/*.speakers {
	height: 953px; 
	background: #e3eafe;
	text-align: center;
}

.speakers__title {
	font: 900 30px/35px 'Roboto', arial, helvetica, sans-serif;;
	color: #585858;
	margin: 0;
	padding: 90px 0 70px 0;
}

.one, .two, .three, .five, .six, .seven {
  padding-right: 20px;
  padding-bottom: 40px;
}

.four, .eight {
  padding-bottom: 40px;
}*/